* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 560px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #333;
    border: 1px solid #111;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
