body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

/* --- HEADER SECTION --- */
header {
    margin-top: 20px;
}

/* --- GitHub button --- */
.github-button {
    font-family: Inter, sans-serif;
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px;
    transition: all 0.5s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.github-button:hover {
    scale: 1.1;
}

.github-button:active {
    scale: 1;
}

.github-button:hover .icon {
    fill: #ffff00;
    scale: 1.1;
    rotate: 360deg;
    filter: drop-shadow(0 0 5px rgba(255, 208, 0, 0.8)) drop-shadow(0 0 10px rgba(255, 208, 0, 0.6));
}

.github-button:hover .text {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}

.text {
    transition: all 1s ease;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: -3px;
    transition: all 1s ease;
}

/* --- DRAW SECTION --- */
.draw-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 620px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #333;
    border: 1px solid #111;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 112px;
    border: none;
    background: #ff362b34;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    line-height: 20px;
    font-size: 17px;
    color: #ff342b;
    letter-spacing: 1px;
}

.reset-button:hover {
    background: #ff362b52;
}

.reset-button:hover .svg-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
